<h2>Reset Office 365 User Password</h2>

<form action="/msgraph" method="post">
  Username:<br>
  <input type="text" name="upn" value="">
  <br>
  New Password:<br>
  <input type="text" name="password" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
<br />
<a href="/msgraph/disconnect">Disconnect</a>
