<h2>HTML Forms</h2>

<form action="/msgraph" method="post">
  First name:<br>
  <input type="text" name="upn" value="">
  <br>
  Last name:<br>
  <input type="text" name="password" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
